$color1: #263680;
$color2: #2b7ee0;
$color1-light: rgba(38, 54, 128, .2);
$color2-light: rgba(43, 126, 224, .2);
$color3: #cf3f50;
$gradient1: linear-gradient(45deg, #d5135a, #f05924);
$gradient2: linear-gradient(to right, #263680 10%, #2b7ee0);
$gradient3: linear-gradient(to right, #0f0c29, #302b63, #24243e);
